neo4j/nifi/templates/import-issues-20210528.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>b348b413-0179-1000-a6ad-a3fc63ef7215</groupId>
    <name>import-issues-20210528</name>
    <snippet>
        <connections>
            <id>1c3fb9df-49d5-3381-0000-000000000000</id>
            <parentGroupId>da5d5207-f866-35c6-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>a1754e7c-20bc-3eb3-0000-000000000000</groupId>
                <id>72ded582-e031-3bf0-0000-000000000000</id>
                <type>INPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>da5d5207-f866-35c6-0000-000000000000</groupId>
                <id>d9d62c31-96dc-30c3-0000-000000000000</id>
                <type>FUNNEL</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>44a6d849-0871-3c4d-0000-000000000000</id>
            <parentGroupId>da5d5207-f866-35c6-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>da5d5207-f866-35c6-0000-000000000000</groupId>
                <id>d9d62c31-96dc-30c3-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>ec0bbe17-c3ef-35ef-0000-000000000000</groupId>
                <id>7af57142-7a5c-37db-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7fd4e974-59b0-3d62-0000-000000000000</id>
            <parentGroupId>da5d5207-f866-35c6-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ec0bbe17-c3ef-35ef-0000-000000000000</groupId>
                <id>109a0628-9580-3463-0000-000000000000</id>
                <type>INPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>5546be9b-b5e5-3c62-0000-000000000000</groupId>
                <id>f0d21934-fb88-3826-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>839124c0-091c-3f7f-0000-000000000000</id>
            <parentGroupId>da5d5207-f866-35c6-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>da5d5207-f866-35c6-0000-000000000000</groupId>
                <id>b7493af3-8c0d-3ee5-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>a1754e7c-20bc-3eb3-0000-000000000000</groupId>
                <id>0b0881c7-9998-3a25-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>b995b8a5-d729-3f92-0000-000000000000</id>
            <parentGroupId>da5d5207-f866-35c6-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>efdbc71e-a48c-3e13-0000-000000000000</groupId>
                <id>72336148-f992-3702-0000-000000000000</id>
                <type>INPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>5546be9b-b5e5-3c62-0000-000000000000</groupId>
                <id>f0d21934-fb88-3826-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>d7a65f75-410f-37a4-0000-000000000000</id>
            <parentGroupId>da5d5207-f866-35c6-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>da5d5207-f866-35c6-0000-000000000000</groupId>
                <id>d9d62c31-96dc-30c3-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>efdbc71e-a48c-3e13-0000-000000000000</groupId>
                <id>80e9c2d0-a201-3d14-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>05809ef2-820b-316f-0000-000000000000</id>
            <parentGroupId>da5d5207-f866-35c6-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>csv-reader-csv-parser</key>
                    <value>
                        <name>csv-reader-csv-parser</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>
                        <name>CSV Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>
                        <name>Value Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>
                        <name>Record Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Skip Header Line</key>
                    <value>
                        <name>Skip Header Line</name>
                    </value>
                </entry>
                <entry>
                    <key>ignore-csv-header</key>
                    <value>
                        <name>ignore-csv-header</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>
                        <name>Quote Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>
                        <name>Escape Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                    <value>
                        <name>Comment Marker</name>
                    </value>
                </entry>
                <entry>
                    <key>Null String</key>
                    <value>
                        <name>Null String</name>
                    </value>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>
                        <name>Trim Fields</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>
                        <name>csvutils-character-set</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-allow-duplicate-header-names</key>
                    <value>
                        <name>csvutils-allow-duplicate-header-names</name>
                    </value>
                </entry>
            </descriptors>
            <name>CSVReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>csv-reader-csv-parser</key>
                    <value>commons-csv</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>custom</value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>,</value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>\n</value>
                </entry>
                <entry>
                    <key>Skip Header Line</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>ignore-csv-header</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>"</value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>\</value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                </entry>
                <entry>
                    <key>Null String</key>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>UTF-8</value>
                </entry>
                <entry>
                    <key>csvutils-allow-duplicate-header-names</key>
                    <value>true</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.csv.CSVReader</type>
        </controllerServices>
        <controllerServices>
            <id>13b06c4e-86af-3d38-0000-000000000000</id>
            <parentGroupId>da5d5207-f866-35c6-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-redis-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Redis Mode</key>
                    <value>
                        <name>Redis Mode</name>
                    </value>
                </entry>
                <entry>
                    <key>Connection String</key>
                    <value>
                        <name>Connection String</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Index</key>
                    <value>
                        <name>Database Index</name>
                    </value>
                </entry>
                <entry>
                    <key>Communication Timeout</key>
                    <value>
                        <name>Communication Timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>Cluster Max Redirects</key>
                    <value>
                        <name>Cluster Max Redirects</name>
                    </value>
                </entry>
                <entry>
                    <key>Sentinel Master</key>
                    <value>
                        <name>Sentinel Master</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Pool - Max Total</key>
                    <value>
                        <name>Pool - Max Total</name>
                    </value>
                </entry>
                <entry>
                    <key>Pool - Max Idle</key>
                    <value>
                        <name>Pool - Max Idle</name>
                    </value>
                </entry>
                <entry>
                    <key>Pool - Min Idle</key>
                    <value>
                        <name>Pool - Min Idle</name>
                    </value>
                </entry>
                <entry>
                    <key>Pool - Block When Exhausted</key>
                    <value>
                        <name>Pool - Block When Exhausted</name>
                    </value>
                </entry>
                <entry>
                    <key>Pool - Max Wait Time</key>
                    <value>
                        <name>Pool - Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Pool - Min Evictable Idle Time</key>
                    <value>
                        <name>Pool - Min Evictable Idle Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Pool - Time Between Eviction Runs</key>
                    <value>
                        <name>Pool - Time Between Eviction Runs</name>
                    </value>
                </entry>
                <entry>
                    <key>Pool - Num Tests Per Eviction Run</key>
                    <value>
                        <name>Pool - Num Tests Per Eviction Run</name>
                    </value>
                </entry>
                <entry>
                    <key>Pool - Test On Create</key>
                    <value>
                        <name>Pool - Test On Create</name>
                    </value>
                </entry>
                <entry>
                    <key>Pool - Test On Borrow</key>
                    <value>
                        <name>Pool - Test On Borrow</name>
                    </value>
                </entry>
                <entry>
                    <key>Pool - Test On Return</key>
                    <value>
                        <name>Pool - Test On Return</name>
                    </value>
                </entry>
                <entry>
                    <key>Pool - Test While Idle</key>
                    <value>
                        <name>Pool - Test While Idle</name>
                    </value>
                </entry>
            </descriptors>
            <name>RedisConnectionPoolService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Redis Mode</key>
                    <value>Standalone</value>
                </entry>
                <entry>
                    <key>Connection String</key>
                    <value>redis:6379</value>
                </entry>
                <entry>
                    <key>Database Index</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>Communication Timeout</key>
                    <value>10 seconds</value>
                </entry>
                <entry>
                    <key>Cluster Max Redirects</key>
                    <value>5</value>
                </entry>
                <entry>
                    <key>Sentinel Master</key>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Pool - Max Total</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Pool - Max Idle</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Pool - Min Idle</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>Pool - Block When Exhausted</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>Pool - Max Wait Time</key>
                    <value>10 seconds</value>
                </entry>
                <entry>
                    <key>Pool - Min Evictable Idle Time</key>
                    <value>60 seconds</value>
                </entry>
                <entry>
                    <key>Pool - Time Between Eviction Runs</key>
                    <value>30 seconds</value>
                </entry>
                <entry>
                    <key>Pool - Num Tests Per Eviction Run</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>Pool - Test On Create</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Pool - Test On Borrow</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Pool - Test On Return</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Pool - Test While Idle</key>
                    <value>true</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.redis.service.RedisConnectionPoolService</type>
        </controllerServices>
        <controllerServices>
            <id>2d575b8a-9212-3976-0000-000000000000</id>
            <parentGroupId>da5d5207-f866-35c6-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-redis-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>redis-connection-pool</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.redis.RedisConnectionPool</identifiesControllerService>
                        <name>redis-connection-pool</name>
                    </value>
                </entry>
                <entry>
                    <key>redis-cache-ttl</key>
                    <value>
                        <name>redis-cache-ttl</name>
                    </value>
                </entry>
            </descriptors>
            <name>RedisDistributedMapCacheClientService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>redis-connection-pool</key>
                    <value>13b06c4e-86af-3d38-0000-000000000000</value>
                </entry>
                <entry>
                    <key>redis-cache-ttl</key>
                    <value>0 secs</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.redis.service.RedisDistributedMapCacheClientService</type>
        </controllerServices>
        <controllerServices>
            <id>86698a99-ab8b-379a-0000-000000000000</id>
            <parentGroupId>da5d5207-f866-35c6-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Text</key>
                    <value>
                        <name>Text</name>
                    </value>
                </entry>
                <entry>
                    <key>Character Set</key>
                    <value>
                        <name>Character Set</name>
                    </value>
                </entry>
            </descriptors>
            <name>csv-issues-to-graph-query</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Text</key>
                    <value>MERGE (T:Task {Issue_Id: "${'Issue Id'}"})
SET T.Issue_Id = "${'Issue Id'}"
SET T.Assignee_email = "${Assignee_email}"
SET T.Reporter_email = "${Reporter_email}"
SET T.Creation_Date = "${'Creation Date'}"
SET T.Close_Date  = coalesce("${'Close Date'}", "open") 
SET T.Estimated_Time = toInteger("${'Estimated Time'}") 
SET T.Actual_Time = toInteger("${'Actual Time'}")

</value>
                </entry>
                <entry>
                    <key>Character Set</key>
                    <value>UTF-8</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.text.FreeFormTextRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>a6bd95c6-c1bd-3b23-0000-000000000000</id>
            <parentGroupId>da5d5207-f866-35c6-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-neo4j-cypher-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>neo4j-connection-url</key>
                    <value>
                        <name>neo4j-connection-url</name>
                    </value>
                </entry>
                <entry>
                    <key>neo4j-username</key>
                    <value>
                        <name>neo4j-username</name>
                    </value>
                </entry>
                <entry>
                    <key>neo4j-password</key>
                    <value>
                        <name>neo4j-password</name>
                    </value>
                </entry>
                <entry>
                    <key>neo4j-load-balancing-strategy</key>
                    <value>
                        <name>neo4j-load-balancing-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>neo4j-max-connection-time-out</key>
                    <value>
                        <name>neo4j-max-connection-time-out</name>
                    </value>
                </entry>
                <entry>
                    <key>neo4j-max-connection-pool-size</key>
                    <value>
                        <name>neo4j-max-connection-pool-size</name>
                    </value>
                </entry>
                <entry>
                    <key>neo4j-max-connection-acquisition-timeout</key>
                    <value>
                        <name>neo4j-max-connection-acquisition-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>neo4j-idle-time-before-test</key>
                    <value>
                        <name>neo4j-idle-time-before-test</name>
                    </value>
                </entry>
                <entry>
                    <key>neo4j-max-connection-lifetime</key>
                    <value>
                        <name>neo4j-max-connection-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>neo4j-driver-tls-encryption-enabled</key>
                    <value>
                        <name>neo4j-driver-tls-encryption-enabled</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Context Service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>SSL Context Service</name>
                    </value>
                </entry>
            </descriptors>
            <name>Neo4JCypherClientService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>neo4j-connection-url</key>
                    <value>bolt://neo4j:7687</value>
                </entry>
                <entry>
                    <key>neo4j-username</key>
                    <value>neo4j</value>
                </entry>
                <entry>
                    <key>neo4j-password</key>
                </entry>
                <entry>
                    <key>neo4j-load-balancing-strategy</key>
                    <value>ROUND_ROBIN</value>
                </entry>
                <entry>
                    <key>neo4j-max-connection-time-out</key>
                    <value>20 seconds</value>
                </entry>
                <entry>
                    <key>neo4j-max-connection-pool-size</key>
                    <value>100</value>
                </entry>
                <entry>
                    <key>neo4j-max-connection-acquisition-timeout</key>
                    <value>60 second</value>
                </entry>
                <entry>
                    <key>neo4j-idle-time-before-test</key>
                    <value>60 seconds</value>
                </entry>
                <entry>
                    <key>neo4j-max-connection-lifetime</key>
                    <value>3600 seconds</value>
                </entry>
                <entry>
                    <key>neo4j-driver-tls-encryption-enabled</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>SSL Context Service</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.graph.Neo4JCypherClientService</type>
        </controllerServices>
        <controllerServices>
            <id>cc7af27a-b879-326c-0000-000000000000</id>
            <parentGroupId>da5d5207-f866-35c6-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Text</key>
                    <value>
                        <name>Text</name>
                    </value>
                </entry>
                <entry>
                    <key>Character Set</key>
                    <value>
                        <name>Character Set</name>
                    </value>
                </entry>
            </descriptors>
            <name>csv-grouped-by-employee-to-graph-query</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Text</key>
                    <value>MERGE (E:Employee {Assignee_email: "${Assignee_email}"})
SET E.total_tasks = ${total_tasks}
</value>
                </entry>
                <entry>
                    <key>Character Set</key>
                    <value>UTF-8</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.text.FreeFormTextRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>daa1f17b-9b3a-3a8e-0000-000000000000</id>
            <parentGroupId>da5d5207-f866-35c6-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>
                        <name>CSV Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>
                        <name>Value Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Include Header Line</key>
                    <value>
                        <name>Include Header Line</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>
                        <name>Quote Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>
                        <name>Escape Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                    <value>
                        <name>Comment Marker</name>
                    </value>
                </entry>
                <entry>
                    <key>Null String</key>
                    <value>
                        <name>Null String</name>
                    </value>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>
                        <name>Trim Fields</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Mode</key>
                    <value>
                        <name>Quote Mode</name>
                    </value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>
                        <name>Record Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Include Trailing Delimiter</key>
                    <value>
                        <name>Include Trailing Delimiter</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>
                        <name>csvutils-character-set</name>
                    </value>
                </entry>
            </descriptors>
            <name>CSVRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>custom</value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>,</value>
                </entry>
                <entry>
                    <key>Include Header Line</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>"</value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>\</value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                </entry>
                <entry>
                    <key>Null String</key>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>Quote Mode</key>
                    <value>MINIMAL</value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>\n</value>
                </entry>
                <entry>
                    <key>Include Trailing Delimiter</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>UTF-8</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.csv.CSVRecordSetWriter</type>
        </controllerServices>
        <funnels>
            <id>d9d62c31-96dc-30c3-0000-000000000000</id>
            <parentGroupId>da5d5207-f866-35c6-0000-000000000000</parentGroupId>
            <position>
                <x>664.0</x>
                <y>384.0</y>
            </position>
        </funnels>
        <processGroups>
            <id>5546be9b-b5e5-3c62-0000-000000000000</id>
            <parentGroupId>da5d5207-f866-35c6-0000-000000000000</parentGroupId>
            <position>
                <x>488.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>192fff24-23a2-3d31-0000-000000000000</id>
                    <parentGroupId>5546be9b-b5e5-3c62-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5546be9b-b5e5-3c62-0000-000000000000</groupId>
                        <id>f0d21934-fb88-3826-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>5546be9b-b5e5-3c62-0000-000000000000</groupId>
                        <id>f9237e16-7ac2-3b2e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>567fd9ea-ab71-39cc-0000-000000000000</id>
                    <parentGroupId>5546be9b-b5e5-3c62-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5546be9b-b5e5-3c62-0000-000000000000</groupId>
                        <id>215835c4-543d-332a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>5546be9b-b5e5-3c62-0000-000000000000</groupId>
                        <id>271eb820-99b0-35f0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>59c9aa17-ef61-3d44-0000-000000000000</id>
                    <parentGroupId>5546be9b-b5e5-3c62-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5546be9b-b5e5-3c62-0000-000000000000</groupId>
                        <id>f9237e16-7ac2-3b2e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>valid</selectedRelationships>
                    <source>
                        <groupId>5546be9b-b5e5-3c62-0000-000000000000</groupId>
                        <id>e4cbef36-f61e-36dc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6e80388f-c852-3908-0000-000000000000</id>
                    <parentGroupId>5546be9b-b5e5-3c62-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5546be9b-b5e5-3c62-0000-000000000000</groupId>
                        <id>e4cbef36-f61e-36dc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>5546be9b-b5e5-3c62-0000-000000000000</groupId>
                        <id>4c658cfe-6c5b-3f3b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6f277f30-1b79-3986-0000-000000000000</id>
                    <parentGroupId>5546be9b-b5e5-3c62-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5546be9b-b5e5-3c62-0000-000000000000</groupId>
                        <id>271eb820-99b0-35f0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>invalid</selectedRelationships>
                    <source>
                        <groupId>5546be9b-b5e5-3c62-0000-000000000000</groupId>
                        <id>e4cbef36-f61e-36dc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <outputPorts>
                    <id>f0d21934-fb88-3826-0000-000000000000</id>
                    <parentGroupId>5546be9b-b5e5-3c62-0000-000000000000</parentGroupId>
                    <position>
                        <x>544.0</x>
                        <y>464.0</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Valid CSV file</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>215835c4-543d-332a-0000-000000000000</id>
                    <parentGroupId>5546be9b-b5e5-3c62-0000-000000000000</parentGroupId>
                    <position>
                        <x>1104.0</x>
                        <y>-264.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>
    <name>Create Missing Directories</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
<value>
    <name>Maximum File Count</name>
</value>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
<value>
    <name>Last Modified Time</name>
</value>
                            </entry>
                            <entry>
<key>Permissions</key>
<value>
    <name>Permissions</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>Group</key>
<value>
    <name>Group</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Directory</key>
<value>/opt/nifi/output</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>replace</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
                            </entry>
                            <entry>
<key>Permissions</key>
                            </entry>
                            <entry>
<key>Owner</key>
                            </entry>
                            <entry>
<key>Group</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Save invalid records to CSV</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutFile</type>
                </processors>
                <processors>
                    <id>271eb820-99b0-35f0-0000-000000000000</id>
                    <parentGroupId>5546be9b-b5e5-3c62-0000-000000000000</parentGroupId>
                    <position>
                        <x>488.0</x>
                        <y>-272.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <annotationData>&lt;criteria&gt;
    &lt;flowFilePolicy&gt;USE_CLONE&lt;/flowFilePolicy&gt;
    &lt;rules&gt;
        &lt;actions&gt;
            &lt;attribute&gt;filename&lt;/attribute&gt;
            &lt;id&gt;1e99c15a-ccdd-4210-a7e3-6f56e43cd9f9&lt;/id&gt;
            &lt;value&gt;${now():format('yyMMdd-hhmmss')}-missing-${filename}&lt;/value&gt;
        &lt;/actions&gt;
        &lt;conditions&gt;
            &lt;expression&gt;${filename:notNull()}&lt;/expression&gt;
            &lt;id&gt;c3fb1ea8-b7ad-42ed-a73a-e269b0c902cd&lt;/id&gt;
        &lt;/conditions&gt;
        &lt;id&gt;60827c89-9dac-4e19-aa87-a7ba6d4ad798&lt;/id&gt;
        &lt;name&gt;update file name&lt;/name&gt;
    &lt;/rules&gt;
&lt;/criteria&gt;</annotationData>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Update invalid records file name</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>4c658cfe-6c5b-3f3b-0000-000000000000</id>
                    <parentGroupId>5546be9b-b5e5-3c62-0000-000000000000</parentGroupId>
                    <position>
                        <x>-136.0</x>
                        <y>0.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Input Directory</key>
<value>
    <name>Input Directory</name>
</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>
    <name>File Filter</name>
</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
<value>
    <name>Path Filter</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>
    <name>Keep Source File</name>
</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>
    <name>Recurse Subdirectories</name>
</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>
    <name>Polling Interval</name>
</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>
    <name>Ignore Hidden Files</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>
    <name>Minimum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
<value>
    <name>Maximum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>
    <name>Minimum File Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
<value>
    <name>Maximum File Size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Input Directory</key>
<value>/opt/nifi/uploads</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>[^\.].*</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>10</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Read issues CSV</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GetFile</type>
                </processors>
                <processors>
                    <id>e4cbef36-f61e-36dc-0000-000000000000</id>
                    <parentGroupId>5546be9b-b5e5-3c62-0000-000000000000</parentGroupId>
                    <position>
                        <x>488.0</x>
                        <y>-24.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>validate-csv-schema</key>
<value>
    <name>validate-csv-schema</name>
</value>
                            </entry>
                            <entry>
<key>validate-csv-header</key>
<value>
    <name>validate-csv-header</name>
</value>
                            </entry>
                            <entry>
<key>validate-csv-delimiter</key>
<value>
    <name>validate-csv-delimiter</name>
</value>
                            </entry>
                            <entry>
<key>validate-csv-quote</key>
<value>
    <name>validate-csv-quote</name>
</value>
                            </entry>
                            <entry>
<key>validate-csv-eol</key>
<value>
    <name>validate-csv-eol</name>
</value>
                            </entry>
                            <entry>
<key>validate-csv-strategy</key>
<value>
    <name>validate-csv-strategy</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>validate-csv-schema</key>
<value>Parselong(),ParseLong(),ForbidSubStr("NA"),ForbidSubStr("NA"),StrNotNullOrEmpty(),StrNotNullOrEmpty(),ParseDouble(),ParseDouble()</value>
                            </entry>
                            <entry>
<key>validate-csv-header</key>
<value>true</value>
                            </entry>
                            <entry>
<key>validate-csv-delimiter</key>
<value>,</value>
                            </entry>
                            <entry>
<key>validate-csv-quote</key>
<value>"</value>
                            </entry>
                            <entry>
<key>validate-csv-eol</key>
<value>\n</value>
                            </entry>
                            <entry>
<key>validate-csv-strategy</key>
<value>Line by line validation</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ValidateCsv</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>invalid</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>valid</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ValidateCsv</type>
                </processors>
                <processors>
                    <id>f9237e16-7ac2-3b2e-0000-000000000000</id>
                    <parentGroupId>5546be9b-b5e5-3c62-0000-000000000000</parentGroupId>
                    <position>
                        <x>480.0</x>
                        <y>200.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>Valid record &gt;&gt;</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Log valid CSV file</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Read CSV</name>
            <variables/>
        </processGroups>
        <processGroups>
            <id>a1754e7c-20bc-3eb3-0000-000000000000</id>
            <parentGroupId>da5d5207-f866-35c6-0000-000000000000</parentGroupId>
            <position>
                <x>496.0</x>
                <y>576.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>395339a2-76bd-3846-0000-000000000000</id>
                    <parentGroupId>a1754e7c-20bc-3eb3-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>a1754e7c-20bc-3eb3-0000-000000000000</groupId>
                        <id>0b0881c7-9998-3a25-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>a1754e7c-20bc-3eb3-0000-000000000000</groupId>
                        <id>f567e73f-2036-30b1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4e89804f-5d1a-35b2-0000-000000000000</id>
                    <parentGroupId>a1754e7c-20bc-3eb3-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>a1754e7c-20bc-3eb3-0000-000000000000</groupId>
                        <id>2440a4af-87e2-36dc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>a1754e7c-20bc-3eb3-0000-000000000000</groupId>
                        <id>72ded582-e031-3bf0-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c1cb8cf5-9626-312a-0000-000000000000</id>
                    <parentGroupId>a1754e7c-20bc-3eb3-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>a1754e7c-20bc-3eb3-0000-000000000000</groupId>
                        <id>f567e73f-2036-30b1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>a1754e7c-20bc-3eb3-0000-000000000000</groupId>
                        <id>2440a4af-87e2-36dc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <inputPorts>
                    <id>72ded582-e031-3bf0-0000-000000000000</id>
                    <parentGroupId>a1754e7c-20bc-3eb3-0000-000000000000</parentGroupId>
                    <position>
                        <x>576.0</x>
                        <y>616.0</y>
                    </position>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>In: valid CSV file</name>
                    <state>STOPPED</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <outputPorts>
                    <id>0b0881c7-9998-3a25-0000-000000000000</id>
                    <parentGroupId>a1754e7c-20bc-3eb3-0000-000000000000</parentGroupId>
                    <position>
                        <x>584.0</x>
                        <y>1328.0</y>
                    </position>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>out: success</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>2440a4af-87e2-36dc-0000-000000000000</id>
                    <parentGroupId>a1754e7c-20bc-3eb3-0000-000000000000</parentGroupId>
                    <position>
                        <x>520.0</x>
                        <y>800.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-graph-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>graph-client-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.graph.GraphClientService</identifiesControllerService>
    <name>graph-client-service</name>
</value>
                            </entry>
                            <entry>
<key>graph-query</key>
<value>
    <name>graph-query</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>graph-client-service</key>
<value>a6bd95c6-c1bd-3b23-0000-000000000000</value>
                            </entry>
                            <entry>
<key>graph-query</key>
<value>MATCH (E:Employee), (T:Task) WHERE E.Assignee_email = T.Reporter_email
MERGE (E)-[r: create_task ]-&gt;(T)</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Link Employee to created tasks</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.graph.ExecuteGraphQuery</type>
                </processors>
                <processors>
                    <id>f567e73f-2036-30b1-0000-000000000000</id>
                    <parentGroupId>a1754e7c-20bc-3eb3-0000-000000000000</parentGroupId>
                    <position>
                        <x>520.0</x>
                        <y>1040.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-graph-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>graph-client-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.graph.GraphClientService</identifiesControllerService>
    <name>graph-client-service</name>
</value>
                            </entry>
                            <entry>
<key>graph-query</key>
<value>
    <name>graph-query</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>graph-client-service</key>
<value>a6bd95c6-c1bd-3b23-0000-000000000000</value>
                            </entry>
                            <entry>
<key>graph-query</key>
<value>MATCH (T:Task), (E:Employee) WHERE T.Assignee_email = E.Assignee_email
MERGE (T)-[r: assigned_to ]-&gt;(E)</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Link Employee to assigned tasks</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.graph.ExecuteGraphQuery</type>
                </processors>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Link nodes</name>
            <variables/>
        </processGroups>
        <processGroups>
            <id>ec0bbe17-c3ef-35ef-0000-000000000000</id>
            <parentGroupId>da5d5207-f866-35c6-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>328.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>027c8034-49b2-3437-0000-000000000000</id>
                    <parentGroupId>ec0bbe17-c3ef-35ef-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>ec0bbe17-c3ef-35ef-0000-000000000000</groupId>
                        <id>2ec064ad-42e9-3663-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>ec0bbe17-c3ef-35ef-0000-000000000000</groupId>
                        <id>109a0628-9580-3463-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>47cb6308-5497-3d3f-0000-000000000000</id>
                    <parentGroupId>ec0bbe17-c3ef-35ef-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>ec0bbe17-c3ef-35ef-0000-000000000000</groupId>
                        <id>dad0b76a-9931-3f7c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>ec0bbe17-c3ef-35ef-0000-000000000000</groupId>
                        <id>83687fc8-6537-3d2e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>94802426-a294-3771-0000-000000000000</id>
                    <parentGroupId>ec0bbe17-c3ef-35ef-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>ec0bbe17-c3ef-35ef-0000-000000000000</groupId>
                        <id>0d360cbd-291b-389a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>original</selectedRelationships>
                    <source>
                        <groupId>ec0bbe17-c3ef-35ef-0000-000000000000</groupId>
                        <id>2ec064ad-42e9-3663-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a03e1ba4-a8d7-330b-0000-000000000000</id>
                    <parentGroupId>ec0bbe17-c3ef-35ef-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>ec0bbe17-c3ef-35ef-0000-000000000000</groupId>
                        <id>67f1dc0e-d688-3371-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>ec0bbe17-c3ef-35ef-0000-000000000000</groupId>
                        <id>dad0b76a-9931-3f7c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d30ce466-2930-39ce-0000-000000000000</id>
                    <parentGroupId>ec0bbe17-c3ef-35ef-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>ec0bbe17-c3ef-35ef-0000-000000000000</groupId>
                        <id>83687fc8-6537-3d2e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>splits</selectedRelationships>
                    <source>
                        <groupId>ec0bbe17-c3ef-35ef-0000-000000000000</groupId>
                        <id>2ec064ad-42e9-3663-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d3bbb10a-2845-3bb7-0000-000000000000</id>
                    <parentGroupId>ec0bbe17-c3ef-35ef-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>ec0bbe17-c3ef-35ef-0000-000000000000</groupId>
                        <id>de829633-c9fe-3ba3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>ec0bbe17-c3ef-35ef-0000-000000000000</groupId>
                        <id>0d360cbd-291b-389a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ebb15d13-49e7-3d07-0000-000000000000</id>
                    <parentGroupId>ec0bbe17-c3ef-35ef-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>ec0bbe17-c3ef-35ef-0000-000000000000</groupId>
                        <id>7af57142-7a5c-37db-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>ec0bbe17-c3ef-35ef-0000-000000000000</groupId>
                        <id>de829633-c9fe-3ba3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <inputPorts>
                    <id>109a0628-9580-3463-0000-000000000000</id>
                    <parentGroupId>ec0bbe17-c3ef-35ef-0000-000000000000</parentGroupId>
                    <position>
                        <x>-80.0</x>
                        <y>288.0</y>
                    </position>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>input-valid csv file</name>
                    <state>STOPPED</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <outputPorts>
                    <id>7af57142-7a5c-37db-0000-000000000000</id>
                    <parentGroupId>ec0bbe17-c3ef-35ef-0000-000000000000</parentGroupId>
                    <position>
                        <x>536.0</x>
                        <y>832.0</y>
                    </position>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Out - successful import</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>0d360cbd-291b-389a-0000-000000000000</id>
                    <parentGroupId>ec0bbe17-c3ef-35ef-0000-000000000000</parentGroupId>
                    <position>
                        <x>488.0</x>
                        <y>416.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>release-signal-id</key>
<value>
    <name>release-signal-id</name>
</value>
                            </entry>
                            <entry>
<key>target-signal-count</key>
<value>
    <name>target-signal-count</name>
</value>
                            </entry>
                            <entry>
<key>signal-counter-name</key>
<value>
    <name>signal-counter-name</name>
</value>
                            </entry>
                            <entry>
<key>wait-buffer-count</key>
<value>
    <name>wait-buffer-count</name>
</value>
                            </entry>
                            <entry>
<key>releasable-flowfile-count</key>
<value>
    <name>releasable-flowfile-count</name>
</value>
                            </entry>
                            <entry>
<key>expiration-duration</key>
<value>
    <name>expiration-duration</name>
</value>
                            </entry>
                            <entry>
<key>distributed-cache-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient</identifiesControllerService>
    <name>distributed-cache-service</name>
</value>
                            </entry>
                            <entry>
<key>attribute-copy-mode</key>
<value>
    <name>attribute-copy-mode</name>
</value>
                            </entry>
                            <entry>
<key>wait-mode</key>
<value>
    <name>wait-mode</name>
</value>
                            </entry>
                            <entry>
<key>wait-penalty-duration</key>
<value>
    <name>wait-penalty-duration</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>release-signal-id</key>
<value>${fragment.identifier}</value>
                            </entry>
                            <entry>
<key>target-signal-count</key>
<value>${fragment.count}</value>
                            </entry>
                            <entry>
<key>signal-counter-name</key>
<value>issues_chunk</value>
                            </entry>
                            <entry>
<key>wait-buffer-count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>releasable-flowfile-count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>expiration-duration</key>
<value>10 min</value>
                            </entry>
                            <entry>
<key>distributed-cache-service</key>
<value>2d575b8a-9212-3976-0000-000000000000</value>
                            </entry>
                            <entry>
<key>attribute-copy-mode</key>
<value>keeporiginal</value>
                            </entry>
                            <entry>
<key>wait-mode</key>
<value>keep</value>
                            </entry>
                            <entry>
<key>wait-penalty-duration</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Wait</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>expired</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>wait</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.Wait</type>
                </processors>
                <processors>
                    <id>2ec064ad-42e9-3663-0000-000000000000</id>
                    <parentGroupId>ec0bbe17-c3ef-35ef-0000-000000000000</parentGroupId>
                    <position>
                        <x>-136.0</x>
                        <y>416.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Record Reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>Record Reader</name>
</value>
                            </entry>
                            <entry>
<key>Record Writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>Record Writer</name>
</value>
                            </entry>
                            <entry>
<key>Records Per Split</key>
<value>
    <name>Records Per Split</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Record Reader</key>
<value>05809ef2-820b-316f-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Record Writer</key>
<value>86698a99-ab8b-379a-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Records Per Split</key>
<value>1</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>For each issue record</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>splits</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitRecord</type>
                </processors>
                <processors>
                    <id>67f1dc0e-d688-3371-0000-000000000000</id>
                    <parentGroupId>ec0bbe17-c3ef-35ef-0000-000000000000</parentGroupId>
                    <position>
                        <x>488.0</x>
                        <y>920.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>release-signal-id</key>
<value>
    <name>release-signal-id</name>
</value>
                            </entry>
                            <entry>
<key>signal-counter-name</key>
<value>
    <name>signal-counter-name</name>
</value>
                            </entry>
                            <entry>
<key>signal-counter-delta</key>
<value>
    <name>signal-counter-delta</name>
</value>
                            </entry>
                            <entry>
<key>signal-buffer-count</key>
<value>
    <name>signal-buffer-count</name>
</value>
                            </entry>
                            <entry>
<key>distributed-cache-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient</identifiesControllerService>
    <name>distributed-cache-service</name>
</value>
                            </entry>
                            <entry>
<key>attribute-cache-regex</key>
<value>
    <name>attribute-cache-regex</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>release-signal-id</key>
<value>${fragment.identifier}</value>
                            </entry>
                            <entry>
<key>signal-counter-name</key>
<value>issues_chunk</value>
                            </entry>
                            <entry>
<key>signal-counter-delta</key>
<value>1</value>
                            </entry>
                            <entry>
<key>signal-buffer-count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>distributed-cache-service</key>
<value>2d575b8a-9212-3976-0000-000000000000</value>
                            </entry>
                            <entry>
<key>attribute-cache-regex</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Notify</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.Notify</type>
                </processors>
                <processors>
                    <id>83687fc8-6537-3d2e-0000-000000000000</id>
                    <parentGroupId>ec0bbe17-c3ef-35ef-0000-000000000000</parentGroupId>
                    <position>
                        <x>-136.0</x>
                        <y>672.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Log merge task query</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>dad0b76a-9931-3f7c-0000-000000000000</id>
                    <parentGroupId>ec0bbe17-c3ef-35ef-0000-000000000000</parentGroupId>
                    <position>
                        <x>-136.0</x>
                        <y>920.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-graph-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>graph-client-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.graph.GraphClientService</identifiesControllerService>
    <name>graph-client-service</name>
</value>
                            </entry>
                            <entry>
<key>graph-query</key>
<value>
    <name>graph-query</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>graph-client-service</key>
<value>a6bd95c6-c1bd-3b23-0000-000000000000</value>
                            </entry>
                            <entry>
<key>graph-query</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Merge task node</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.graph.ExecuteGraphQuery</type>
                </processors>
                <processors>
                    <id>de829633-c9fe-3ba3-0000-000000000000</id>
                    <parentGroupId>ec0bbe17-c3ef-35ef-0000-000000000000</parentGroupId>
                    <position>
                        <x>488.0</x>
                        <y>632.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
                            </entry>
                            <entry>
<key>log-message</key>
<value>========&gt;All issues are imported</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogMessage</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Insert issues</name>
            <variables/>
        </processGroups>
        <processGroups>
            <id>efdbc71e-a48c-3e13-0000-000000000000</id>
            <parentGroupId>da5d5207-f866-35c6-0000-000000000000</parentGroupId>
            <position>
                <x>1064.0</x>
                <y>328.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>12a409e4-8a96-309e-0000-000000000000</id>
                    <parentGroupId>efdbc71e-a48c-3e13-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>efdbc71e-a48c-3e13-0000-000000000000</groupId>
                        <id>5abd6b76-f21b-3a4a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>efdbc71e-a48c-3e13-0000-000000000000</groupId>
                        <id>777d0a3b-d727-341f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>246ea103-5087-37c3-0000-000000000000</id>
                    <parentGroupId>efdbc71e-a48c-3e13-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>efdbc71e-a48c-3e13-0000-000000000000</groupId>
                        <id>777d0a3b-d727-341f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>splits</selectedRelationships>
                    <source>
                        <groupId>efdbc71e-a48c-3e13-0000-000000000000</groupId>
                        <id>7bc120d6-6405-3604-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2d5c0ee8-5dc2-3788-0000-000000000000</id>
                    <parentGroupId>efdbc71e-a48c-3e13-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>efdbc71e-a48c-3e13-0000-000000000000</groupId>
                        <id>80e9c2d0-a201-3d14-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>efdbc71e-a48c-3e13-0000-000000000000</groupId>
                        <id>6f875026-9d18-378b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>36873a11-a8db-377b-0000-000000000000</id>
                    <parentGroupId>efdbc71e-a48c-3e13-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>efdbc71e-a48c-3e13-0000-000000000000</groupId>
                        <id>fdde28ba-9b52-3226-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>efdbc71e-a48c-3e13-0000-000000000000</groupId>
                        <id>72336148-f992-3702-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3cf82746-1334-3d9f-0000-000000000000</id>
                    <parentGroupId>efdbc71e-a48c-3e13-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>efdbc71e-a48c-3e13-0000-000000000000</groupId>
                        <id>b34ba4af-0d1a-3423-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>original</selectedRelationships>
                    <source>
                        <groupId>efdbc71e-a48c-3e13-0000-000000000000</groupId>
                        <id>7bc120d6-6405-3604-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>940fa7ae-c23e-3b37-0000-000000000000</id>
                    <parentGroupId>efdbc71e-a48c-3e13-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>efdbc71e-a48c-3e13-0000-000000000000</groupId>
                        <id>d727b0bc-3c21-3d7c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>ByTaskCount</selectedRelationships>
                    <source>
                        <groupId>efdbc71e-a48c-3e13-0000-000000000000</groupId>
                        <id>fdde28ba-9b52-3226-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e312e885-982b-37a4-0000-000000000000</id>
                    <parentGroupId>efdbc71e-a48c-3e13-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>efdbc71e-a48c-3e13-0000-000000000000</groupId>
                        <id>6f875026-9d18-378b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>efdbc71e-a48c-3e13-0000-000000000000</groupId>
                        <id>b34ba4af-0d1a-3423-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>fe2a46db-9f0e-390e-0000-000000000000</id>
                    <parentGroupId>efdbc71e-a48c-3e13-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>efdbc71e-a48c-3e13-0000-000000000000</groupId>
                        <id>7bc120d6-6405-3604-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>efdbc71e-a48c-3e13-0000-000000000000</groupId>
                        <id>d727b0bc-3c21-3d7c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <inputPorts>
                    <id>72336148-f992-3702-0000-000000000000</id>
                    <parentGroupId>efdbc71e-a48c-3e13-0000-000000000000</parentGroupId>
                    <position>
                        <x>536.0</x>
                        <y>248.0</y>
                    </position>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Input-Valid CSV file</name>
                    <state>STOPPED</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <outputPorts>
                    <id>80e9c2d0-a201-3d14-0000-000000000000</id>
                    <parentGroupId>efdbc71e-a48c-3e13-0000-000000000000</parentGroupId>
                    <position>
                        <x>536.0</x>
                        <y>160.0</y>
                    </position>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Out - Employees Imported</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>5abd6b76-f21b-3a4a-0000-000000000000</id>
                    <parentGroupId>efdbc71e-a48c-3e13-0000-000000000000</parentGroupId>
                    <position>
                        <x>488.0</x>
                        <y>920.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>release-signal-id</key>
<value>
    <name>release-signal-id</name>
</value>
                            </entry>
                            <entry>
<key>signal-counter-name</key>
<value>
    <name>signal-counter-name</name>
</value>
                            </entry>
                            <entry>
<key>signal-counter-delta</key>
<value>
    <name>signal-counter-delta</name>
</value>
                            </entry>
                            <entry>
<key>signal-buffer-count</key>
<value>
    <name>signal-buffer-count</name>
</value>
                            </entry>
                            <entry>
<key>distributed-cache-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient</identifiesControllerService>
    <name>distributed-cache-service</name>
</value>
                            </entry>
                            <entry>
<key>attribute-cache-regex</key>
<value>
    <name>attribute-cache-regex</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>release-signal-id</key>
<value>${fragment.identifier}</value>
                            </entry>
                            <entry>
<key>signal-counter-name</key>
<value>emps_chunk</value>
                            </entry>
                            <entry>
<key>signal-counter-delta</key>
<value>1</value>
                            </entry>
                            <entry>
<key>signal-buffer-count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>distributed-cache-service</key>
<value>2d575b8a-9212-3976-0000-000000000000</value>
                            </entry>
                            <entry>
<key>attribute-cache-regex</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Notify</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.Notify</type>
                </processors>
                <processors>
                    <id>6f875026-9d18-378b-0000-000000000000</id>
                    <parentGroupId>efdbc71e-a48c-3e13-0000-000000000000</parentGroupId>
                    <position>
                        <x>1160.0</x>
                        <y>120.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
                            </entry>
                            <entry>
<key>log-message</key>
<value>===========&gt;all employees are imported</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogMessage</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>777d0a3b-d727-341f-0000-000000000000</id>
                    <parentGroupId>efdbc71e-a48c-3e13-0000-000000000000</parentGroupId>
                    <position>
                        <x>1160.0</x>
                        <y>920.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-graph-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>graph-client-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.graph.GraphClientService</identifiesControllerService>
    <name>graph-client-service</name>
</value>
                            </entry>
                            <entry>
<key>graph-query</key>
<value>
    <name>graph-query</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>graph-client-service</key>
<value>a6bd95c6-c1bd-3b23-0000-000000000000</value>
                            </entry>
                            <entry>
<key>graph-query</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Merge employee node</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.graph.ExecuteGraphQuery</type>
                </processors>
                <processors>
                    <id>7bc120d6-6405-3604-0000-000000000000</id>
                    <parentGroupId>efdbc71e-a48c-3e13-0000-000000000000</parentGroupId>
                    <position>
                        <x>1158.0</x>
                        <y>659.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Record Reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>Record Reader</name>
</value>
                            </entry>
                            <entry>
<key>Record Writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>Record Writer</name>
</value>
                            </entry>
                            <entry>
<key>Records Per Split</key>
<value>
    <name>Records Per Split</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Record Reader</key>
<value>05809ef2-820b-316f-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Record Writer</key>
<value>cc7af27a-b879-326c-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Records Per Split</key>
<value>1</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>For each employee summary</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>splits</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitRecord</type>
                </processors>
                <processors>
                    <id>b34ba4af-0d1a-3423-0000-000000000000</id>
                    <parentGroupId>efdbc71e-a48c-3e13-0000-000000000000</parentGroupId>
                    <position>
                        <x>1160.0</x>
                        <y>376.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>release-signal-id</key>
<value>
    <name>release-signal-id</name>
</value>
                            </entry>
                            <entry>
<key>target-signal-count</key>
<value>
    <name>target-signal-count</name>
</value>
                            </entry>
                            <entry>
<key>signal-counter-name</key>
<value>
    <name>signal-counter-name</name>
</value>
                            </entry>
                            <entry>
<key>wait-buffer-count</key>
<value>
    <name>wait-buffer-count</name>
</value>
                            </entry>
                            <entry>
<key>releasable-flowfile-count</key>
<value>
    <name>releasable-flowfile-count</name>
</value>
                            </entry>
                            <entry>
<key>expiration-duration</key>
<value>
    <name>expiration-duration</name>
</value>
                            </entry>
                            <entry>
<key>distributed-cache-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient</identifiesControllerService>
    <name>distributed-cache-service</name>
</value>
                            </entry>
                            <entry>
<key>attribute-copy-mode</key>
<value>
    <name>attribute-copy-mode</name>
</value>
                            </entry>
                            <entry>
<key>wait-mode</key>
<value>
    <name>wait-mode</name>
</value>
                            </entry>
                            <entry>
<key>wait-penalty-duration</key>
<value>
    <name>wait-penalty-duration</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>release-signal-id</key>
<value>${fragment.identifier}</value>
                            </entry>
                            <entry>
<key>target-signal-count</key>
<value>${fragment.count}</value>
                            </entry>
                            <entry>
<key>signal-counter-name</key>
<value>emps_chunk</value>
                            </entry>
                            <entry>
<key>wait-buffer-count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>releasable-flowfile-count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>expiration-duration</key>
<value>10 min</value>
                            </entry>
                            <entry>
<key>distributed-cache-service</key>
<value>2d575b8a-9212-3976-0000-000000000000</value>
                            </entry>
                            <entry>
<key>attribute-copy-mode</key>
<value>keeporiginal</value>
                            </entry>
                            <entry>
<key>wait-mode</key>
<value>wait</value>
                            </entry>
                            <entry>
<key>wait-penalty-duration</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Wait</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>expired</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>wait</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.Wait</type>
                </processors>
                <processors>
                    <id>d727b0bc-3c21-3d7c-0000-000000000000</id>
                    <parentGroupId>efdbc71e-a48c-3e13-0000-000000000000</parentGroupId>
                    <position>
                        <x>486.0</x>
                        <y>651.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Log grouped data</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>fdde28ba-9b52-3226-0000-000000000000</id>
                    <parentGroupId>efdbc71e-a48c-3e13-0000-000000000000</parentGroupId>
                    <position>
                        <x>486.0</x>
                        <y>411.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>
    <name>include-zero-record-flowfiles</name>
</value>
                            </entry>
                            <entry>
<key>cache-schema</key>
<value>
    <name>cache-schema</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                            <entry>
<key>ByTaskCount</key>
<value>
    <name>ByTaskCount</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>05809ef2-820b-316f-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>daa1f17b-9b3a-3a8e-0000-000000000000</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>true</value>
                            </entry>
                            <entry>
<key>cache-schema</key>
<value>true</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                            <entry>
<key>ByTaskCount</key>
<value>SELECT Assignee_email,count(*) total_tasks
FROM FLOWFILE
GROUP BY Assignee_email
</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Group by assignee ID</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>ByTaskCount</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.QueryRecord</type>
                </processors>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Insert Employee</name>
            <variables/>
        </processGroups>
        <processors>
            <id>b7493af3-8c0d-3ee5-0000-000000000000</id>
            <parentGroupId>da5d5207-f866-35c6-0000-000000000000</parentGroupId>
            <position>
                <x>520.0</x>
                <y>904.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>log-level</key>
                        <value>
                            <name>log-level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>log-prefix</key>
                        <value>
                            <name>log-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>log-message</key>
                        <value>
                            <name>log-message</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>log-level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>log-prefix</key>
                    </entry>
                    <entry>
                        <key>log-message</key>
                        <value>File processed successfully</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>LogMessage</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogMessage</type>
        </processors>
    </snippet>
    <timestamp>05/28/2021 15:12:13 UTC</timestamp>
</template>
